* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Brat;
  src: url(/assets/Brat.ttf);
}

body {
  width: 100vw !important;
  overflow-x: hidden;
  position: relative;
}

.site-wrap {
  width: 100vw;
  overflow-x: hidden;
}

.landing {
  width: 100%;

  height: auto;
  min-height: 100vh;
  background: url(/assets/heroBackground.jpg),
    linear-gradient(
      180deg,
      rgba(7, 7, 7, 0.51) 2.33%,
      rgba(55, 50, 47, 0.43) 83.85%
    );
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: Oswald, sans-serif;
}

:root {
  font-family: Oswald, sans-serif;
}

.mobile-sidebar {
  display: none;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 250px;
  background-color: rgb(14, 10, 7);
  color: white;
  transition: 0.2s ease-out;
}

.mobile-sidebar .item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 15%;
  margin-top: 10vh;
  list-style: none;
}

.mobile-sidebar .item-container li {
  width: 100%;
  flex: 1;
  /* border-bottom: thin solid rgb(224, 224, 224); */
}
.mobile-sidebar .item-container li a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bolder;
}

.cross-parent {
  margin-top: 20px;
  width: 60px;
  height: 48px;
  display: flex;
  position: relative;
  left: calc(100% - 80px);
  flex-direction: column;
  justify-content: space-between;
  /* background-color: black; */
}

.cross-parent [class*="line"] {
  width: 100%;
  height: 5px;
  background-color: white;
}

.cross-parent .line-one {
  transform-origin: right;
  transform: rotateZ(-45deg);
}

.cross-parent .line-two {
  transform-origin: right;
  transform: rotateZ(45deg);
}

.open {
  display: block;
  position: fixed;
  left: calc(100% - 250px);
  background-color: rgb(32, 24, 26);
}

nav {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  /* background-color: rgb(68, 17, 59); */
}

nav .logo-container {
  width: 50%;
  margin: auto 0 auto 2rem;
  animation: glideInRight 1s ease;
}

@media all and (max-width: 350px) {
  .logo-container > * {
    display: none;
  }
}

nav .nav-links {
  width: 50%;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  animation: glideInLeft 1s ease;
}

@keyframes glideInLeft {
  0% {
    transform: translateX(80px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes glideInRight {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes glideInDown {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media all and (max-width: 800px) {
  nav .nav-links .link-container-desktop {
    display: none;
  }

  nav .nav-links .hamburger {
    display: flex;
    margin-right: 2rem;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 27px;
    width: 45px;
    z-index: 10;
  }

  .hamburger .hamline {
    width: 100%;
    height: 14%;
    background-color: whitesmoke;
  }
}

.link-container-desktop {
  width: 40%;
  min-width: 280px;
  margin-left: auto;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link-container-desktop .link {
  color: white;
  font-size: 29px;
  font-family: Oswald, sans-serif;
}

.main {
  width: 100%;
  height: 67vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
}

.title-container {
  height: 25vmin;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.title-box {
  width: 0vw;
  /* max-width: 700px; */
  height: 0px;
  border: 7px whitesmoke solid;
  overflow: hidden;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* animation */
  animation: stretch 1.2s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.75s;
}

.title-box h1 {
  min-width: max-content;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 6vmax;
  text-transform: capitalize;
  color: whitesmoke;
  padding-left: 4rem;
  padding-right: 4rem;
}

.intro-text {
  width: 80vw;
  max-width: 600px;
  text-align: center;
  color: whitesmoke;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;
  opacity: 0;
  animation: glideInDown 2s ease;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes reveal {
  0% {
    width: 0px;
    height: 0px;
  }

  15% {
    width: 0px;
    height: 0px;
  }

  40% {
    width: 0px;
    height: 28vh;
  }

  45% {
    width: 0px;
    height: 28vh;
  }

  100% {
    width: 52vw;
    height: 25vh;
  }
}

@keyframes stretch {
  0% {
    width: 0px;
    height: 8px;
  }

  30% {
    width: 100%;
    height: 8px;
    border: thick white solid;
  }

  40% {
    width: 100%;
    height: 8px;
    border: 5px white solid;
  }

  80% {
    width: 100%;
    height: 95%;
    background-color: transparent;
    border: thick white solid;
  }

  100% {
    width: 100%;
    height: 85%;
    background-color: transparent;
    border: thick white solid;
  }
}

.scroller {
  margin-bottom: 15px;
  animation: bob 2.5s infinite;
}

.scroll-icon {
  opacity: 0;
  animation: glideInDown 2s ease;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes bob {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.about {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  position: relative;
  overflow: hidden;
  padding-bottom: 8vh;
}

.about-header {
  width: 90%;
  height: 10vh;
  margin: auto;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightcoral; */
  margin-top: 10px;
  margin-bottom: 3vw;
  height: 90px;
  position: relative;
}

.bar-left {
  height: 5px;
  background-color: rgb(22, 22, 22);
  flex: 0;
}

.bar-right {
  height: 5px;
  background-color: rgb(22, 22, 22);
  flex: 0;
}

.growing {
  animation: grow 3s ease;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0% {
    flex: 0;
  }

  100% {
    flex: 1;
  }
}

.page-header {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  height: 100%;
  margin-right: 3vw;
  margin-left: 3vw;
  color: rgb(22, 22, 22);
  z-index: 2;
  position: relative;
  transform: translateY(-4px);
  display: inline-block;
  text-align: center;
  /* background-color: lightgreen; */
}

.black-line {
  display: inline-block;
  width: 60px;
  height: 5px;
  position: relative;
  background-color: rgb(32, 32, 32);
  margin: auto;
  margin-bottom: 8px;
}

.about-intro,
.menu-intro {
  width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 50px;
}

.menu-intro {
  margin-top: 0;
  margin-bottom: 80px;
}

.about-grid-container {
  position: relative;
  margin: auto;
  display: grid;
  width: 80vw;
  min-width: 300px;
  max-width: 1300px;
  height: 75vw;
  max-height: 1200px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  /* border: solid; */
  height: auto;
  max-height: 300px;
  width: auto;
  max-width: 550px;
  /* min-width: max-content; */
  overflow: visible;
  z-index: 2;
  position: relative;
}

.grid-item.img-1 {
  float: right;
  /* margin-left: auto; */
}

.grid-item img {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.slide-left {
  opacity: 0;
  transform: translateX(-10vw);
  transition: all 1.5s ease;
}
.slide-right {
  opacity: 0;
  transform: translateX(10vw);
  transition: all 1.5s ease;
}

[class*="slide"].active {
  opacity: 1;
  transform: translateX(0px) scale(1);
}

[class*="slide"].active > * {
  opacity: 1;
  transform: translateX(0px);
}

.grid-item .grid-subtitle {
  font-size: 40px;
  color: #1a120f;
  margin-top: 0px;
}

.text-2,
.text-2 > * {
  text-align: right;
  float: right;
}

.grid-item .desktop {
  font-size: 1.5em;
  width: 100%;
  max-width: 400px;
  line-height: 1.5;
  color: #181210;
  display: inline-block;
}

.grid-item .mobile {
  display: none;
}

.grid-link {
  display: block;
  width: 100%;
  padding-top: 0.6vmin;
  opacity: 0.6;
}

@media all and (max-width: 800px) {
  .main {
    margin-top: 10vh;
  }
  /* .title-box {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-box h1 {
    font-size: 12vw;
    height: min-content;
  } */

  .about-grid-container {
    margin: auto;
    width: 90vw;
    height: 90vw;
  }
}

@media all and (max-width: 1000px) {
  .about-grid-container .grid-item .grid-paragraph {
    font-size: 1.5em;
    line-height: 1.1;
    margin-top: 0.5vmin;
  }
  .about-grid-container .grid-item .grid-subtitle {
    font-size: 2rem;
    line-height: 1;
  }
}

@media all and (max-width: 670px) {
  .intro-text {
    font-size: 22px;
  }

  .about-grid-container {
    row-gap: 30px;
  }

  .about-intro {
    width: 90%;
    font-size: 6vw;
  }

  .about-grid-container .grid-item .grid-subtitle {
    font-size: 4.3vmin;
    line-height: 1.1;
  }
  .about-grid-container .grid-item .desktop {
    display: none;
  }
  .about-grid-container .grid-item .mobile {
    display: inline-block;
    font-size: 3.7vmin;
  }
}

.bean-big {
  position: absolute;
  right: 0vw;
  top: 30vh;
  z-index: 1;
}

.bean-2 {
  position: absolute;
  opacity: 0.07;
  left: 0vw;
  top: 10vh;
}
.bean-3 {
  position: absolute;
  opacity: 0.07;
  left: 0vw;
  top: 80vh;
  transform: scale(1.3);
}

.bean-4 {
  position: absolute;
  opacity: 0.06;
  right: 10vw;
  bottom: 0vh;
  z-index: 1;
}

@media all and (max-width: 1300px) {
  .bean-big {
    display: none;
  }
}

@media all and (max-width: 900px) {
  .bean-3 {
    display: none;
  }
}
@media all and (max-width: 500px) {
  .bean-4 {
    display: none;
  }
}

.menu {
  margin-top: -10px;
  min-height: max-content;
  height: auto;
  background: #f6f6f6;
  z-index: -3;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}

.menu .bar-left,
.menu .bar-right {
  background-color: black;
}

.menu .bar-left {
  margin-left: 2.5vw;
}
.menu .bar-right {
  margin-right: 2.5vw;
}
.menu .page-header {
  color: black;
}

.flex-menu-parent {
  width: 95%;
  max-width: 2000px;
  height: max-content;
  margin: auto;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: aqua; */
}

.menu [class*="heading"] {
  margin-bottom: 20px;
}

.coffee-container,
.pastry-container {
  /* background-color: rgb(218, 85, 85); */
  /* background-color: rgba(20, 17, 16, 0.514); */

  width: 40%;
  height: 65%;
  /* border-left: 6px white solid;
  border-right: 6px white solid;
  border-bottom: 6px white solid; */
  position: relative;
}

.coffee-container,
.speciality-coffee-container {
  margin-bottom: 175px;
}

.brunch-container {
  width: 100%;
  position: relative;
}

.brunch .menu-item {
  margin-bottom: 20px;
}

.brunch-container .special-desc {
  font-size: 22px;
}

.not-coffee-container {
  width: 40%;
  height: 30%;
  /* border-left: 6px #222 solid;
  border-right: 6px #222 solid;
  border-bottom: 6px #222 solid; */
  position: relative;
}
.speciality-coffee-container {
  /* background-color: orchid; */
  /* background-color: rgba(20, 17, 16, 0.514); */

  width: 45%;
  height: 30%;
  border-left: 6px #222 solid;
  border-right: 6px #222 solid;
  border-bottom: 6px #222 solid;
  position: relative;
}

.menu [class*="title-parent"] {
  width: 100%;
  height: 20%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  position: absolute;
  top: calc(-10% + 3px);
}

.menu [class*="title-left"],
.menu [class*="title-right"] {
  height: 6px;
  background-color: #222;
  flex: 1;
}

.menu [class*="heading"] {
  color: #222;
  margin: auto 22px;
  position: relative;
  transform: translateY(-0.8vw);
  font-size: 7vmin;
  /* background-color: lightcoral; */
  font-weight: Medium;
  font-family: Brat;
}

.menu .speciality-coffee-heading {
  font-size: 6vmin;
}

@media all and (min-width: 2000px) {
  .menu [class*="heading"] {
    font-size: 100px;
  }
}

.coffee,
.pastry {
  width: 100%;
  height: 95%;
  margin-top: 45px;
  /* background-color: lightblue; */

  display: grid;
  grid-template-columns: 8fr 2fr 1fr;
  grid-template-rows: repeat(8, 1fr);
}

.pastry {
  grid-template-columns: 8fr 1fr;
}

.pastry .size {
  justify-content: flex-end;
}

.softs {
  width: 100%;
  height: 95%;
  margin-top: 45px;
  /* background-color: lightblue; */

  display: grid;
  grid-template-columns: 8fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.specials {
  width: 100%;
  height: 95%;
  margin-top: 45px;
  padding-bottom: 20px;
  /* background-color: lightblue; */

  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.special-desc {
  font-size: 16px;
  opacity: 0.7;
  width: 100%;
  display: block;
  padding-bottom: 10px;
}

.menu-item,
.size {
  font-size: 32px;
  height: 100%;
  max-height: 80px;
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.specials .menu-item {
  padding-left: 30px;
}

.specials .menu-item {
  display: block;
  max-height: 120px;
  max-width: 90%;
  max-width: 500px;
}

.inner-text {
  color: #222;
}

.sizes {
  color: #333;
  font-size: 24px;
  font-weight: lighter;
}

.size {
  font-size: 28px;
  font-weight: Medium;
}

.brunch-container {
  margin-top: 60px;
}

.brunch {
  width: 100%;
  padding-top: 65px;
}

.brunch .menu-item {
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
  max-height: 200px;
}

@media all and (max-width: 1025px) {
  .coffee-container,
  .speciality-coffee-container {
    width: 47%;
  }

  .menu-grid-parent .inner-text,
  .menu-grid-parent .menu-item .inner-text {
    font-size: 23px;
    padding-bottom: 5px;
  }

  .speciality-coffee-container .special-desc {
    font-size: 14px;
  }

  .coffee-container,
  .speciality-coffee-container {
    margin-bottom: 65px;
  }
}

@media all and (max-width: 1100px) {
  .menu-item .inner-text,
  .size {
    font-size: 28px;
  }
}

@media all and (max-width: 800px) {
  .menu {
    height: max-content;
  }

  .sizes {
    font-size: 24px;
  }

  .flex-menu-parent {
    flex-wrap: wrap;
  }
  .coffee-container,
  .not-coffee-container,
  .speciality-coffee-container,
  .pastry-container {
    width: 80%;
    min-width: 300px;
    margin: auto;
    margin-bottom: 50px;
  }

  .menu [class*="heading"] {
    font-size: 50px;
  }
}

@media all and (max-width: 500px) {
  .menu .menu-intro p {
    font-size: 18px;
  }

  .menu [class*="heading"] {
    font-size: 50px;
  }

  .menu .speciality-coffee-heading {
    font-size: 45px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .menu .speciality-coffee-container .special-desc {
    width: 90%;
  }

  .menu .sizes {
    font-size: 17px;
  }

  .menu .menu-grid-parent .menu-item .inner-text,
  .menu .menu-grid-parent .size .inner-text {
    font-size: 20px;
  }

  .brunch .menu-item .inner-text {
    font-size: 22px;
  }

  .brunch .menu-item .special-desc {
    font-size: 16px;
  }
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.shaded {
  background-color: rgba(20, 17, 16, 0.514);
  pointer-events: none;
}

.hyper-wrapper {
  width: 100%;
  overflow: hidden !important;
}

.find-us {
  background-color: #f2f1ef;
  width: 100%;
  padding-top: 10px;
  position: relative;
}

.find-us .header-container {
  margin-bottom: 1vw;
}

.map-flex-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  height: max-content;
}

.map-box {
  flex: 2;
  background-color: mistyrose;
  min-height: 400px;
  margin-bottom: 40px;
}

.info-bar {
  flex: 1;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  padding-bottom: 20px;
}

.info-bar > * {
  /* border: solid; */
  margin-bottom: 30px;
}

.opening .hours-list {
  list-style: none;
}

.info-bar h3 {
  font-size: 32px;
  padding-bottom: 6px;
}

.find-us-body {
  color: #1a120f;
  font-size: 22px;
}

.find-us-bean,
.find-us-bean-2 {
  position: absolute;
  opacity: 0.06;
  right: 10px;
  top: 80px;
}

.find-us-bean-2 {
  transform: rotateX(180deg);
  left: 20px;
  right: auto;
  top: 20px;
}

@media all and (max-width: 1000px) {
  .map-flex-container {
    flex-direction: column;
  }

  .info-bar {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .info-bar > * {
    margin-right: 20px;
    flex: 1;
  }
}

.footer {
  width: 100vw;
  height: 200px;
  background-color: #e8e6e3;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

.footer-left {
  flex: 2;
  /* background-color: mistyrose; */
  display: flex;
  justify-content: flex-start;
}
.footer-list {
  flex: 1;
  list-style: none;
  font-weight: lighter;
  font-family: "Oxygen", sans-serif;
  /* background-color: green; */
  margin-top: auto;
  margin-bottom: auto;
}

.footer-list .list-item {
  font-size: 17px;
}

.footer-list .footer-subheading {
  font-size: 20px;
  font-weight: bold;
  font-family: "Oxygen", sans-serif;
  margin-bottom: 6px;
}

.footer-right {
  flex: 1;
  /* background-color: moccasin; */
  display: flex;
  justify-content: flex-start;
}

.input-container {
  position: relative;
  width: min-content;
}

.newsletter-input {
  height: 42px;
  width: 220px;
  margin-top: 10px;
  padding-left: 8px;
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 4px;
}

.sign-up {
  height: 42px;
  width: 65px;
  font-size: 14px;
  letter-spacing: 0.15mm;
  position: absolute;
  margin-top: 10px;
  right: 0;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgb(66, 53, 37);
  color: whitesmoke;
}

@media all and (max-width: 767px) {
  .info-bar {
    flex-direction: column;
  }

  .find-us-bean {
    top: 70vh;
  }

  .find-us-bean-2 {
    display: none;
  }

  .map-box {
    min-height: 300px;
  }

  .footer {
    height: auto;
    min-height: max-content;
    flex-direction: row;
  }

  .footer-left,
  .footer-right {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-list {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 45%;
  }
}
